<!DOCTYPE html>
<html>

<head>
  <!-- JSを使ってHTMLに地図を表示させる -->
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="map.css" />
  <!-- javascript -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>

</head>

<body>
  <!-- マップの表示 -->
  <div id="map"></div>
  <!-- マップ用Javascript -->
  <script type="text/javascript" src="map.js"></script>
</body>

</html>